.big-container {
  background-color: rgb(182, 87, 87);
  width: 80%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 11px;
}
.signup-container {
  width: 50%;
  background-color: rgb(83, 83, 206);
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 11px;
}

.signup-header {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 40px;
}

.signup-text {
  color: $black;
  font-size: 24px;
  font-family: $headers-font;
  justify-self: center;
}

.signup-name {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.signup-first-name {
  margin-right: 10px;
}

.signup-last-name {
  margin-left: 10px;

}