// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$gray: #0E0000;
$light-gray: #F4F4F4;

$yellow: #FBCC49;
$yellow-hover: #ffdb77;
$orange: #FC8C5D;
$green: #5C9468;
$black: #363334;
$pink: #F9B9D3;
$white: #FFFFFF;
$offwhite: #FFFCFB;
