// Import Google fonts
<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@100;300;400;500;700&display=swap');


// Define fonts for body and headers
$title-font:'Raleway', sans-serif;
$body-font: 'Roboto', sans-serif;
$headers-font: 'Roboto', sans-serif;
>>>>>>> 7ed0ea2971b36f97b54cbd57f16ebf9d0fcde447

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
