// Specific CSS for your home-page
#home-image {
	position: relative;
}

#title {
	font-size: 144px;
	position: absolute;
	top: 250px;
  left: 134px;
}

h1 {
	font-family: $title-font;
}

h2 {
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

.card {
	border-radius: 11px !important;
	border: solid;
}

.card-img-top-3 {
	height: 233px;
	background-color: $pink;
}

.card-img-top-4 {
	height: 173px;
	background-color: $green;
}

.container-fluid {
	margin-top: 42px;
}

.card-body-3 {
	height: 40px;
}

.card-body-4 {
	height: 40px;
}

.card-title {
	padding-left: 10px;
	padding-top: 7px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}


.card-link {
  color: $black;
}

.card-link:hover {
	color: $pink;
}