// Specific CSS for your home-page

// --- HOME PAGE ---
.home {
	background-color: $offwhite;
}
#home-image {
	position: relative;
}

#title {
	font-size: 144px;
	position: absolute;
	top: 250px;
  left: 134px;
}

.btn.btn-all-traits {
	background-color: $yellow;
	border-radius: 11px;
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: $black;
	position: absolute;
	top: 440px;
  left: 257px;

	a{
		color: $white;
		text-decoration: none;
	}
}
.btn.btn-all-traits:hover {
	background-color: $yellow-hover;
}

// --- SHOW ALL TRAITS ---

.card {
	border-radius: 11px !important;
	border: solid;
	margin-top: 20px;
	overflow: hidden;	
}

// .card-img-top-3 {
// 	height: 233px;
// 	background-color: $pink;
// }

.card-img-top-4 {
	height: 180px;
	width: 100%;
	background-color: $green;
	border-radius: 11px, 11px, 0px, 0px;
}

.container-fluid {
	margin-top: 40px;
}

.card-body-4 {
	height: 40px;
}

.card-infos {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 16px;
}

.card-title {
	padding-left: 10px;
	padding-top: 7px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 20px;
	margin: 0;
}

.card-pricing {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 20px;
	position: absolute;
}

.card-link {
  color: $black;
}

.card-link:hover {
	color: $pink;
}





.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}