// Specific CSS for your home-page

// --- HOME PAGE ---
.home-image {
	background-color: $offwhite;
	background-image: url(image-path("homepage.png"));
	background-size: cover;
	background-repeat: no-repeat;
}

.btn.btn-all-traits {
	background-color: $yellow;
	border-radius: 11px;
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: $black;
	position: absolute;
	top: 370px;
  left: 307px;

	a{
		color: $white;
		text-decoration: none;
	}
}
.btn.btn-all-traits:hover {
	background-color: $yellow-hover;
}

// --- SHOW ALL TRAITS ---

.traits-container {
	margin-bottom: 40px;
}

.traits-container h2 {
	color: $black;
}

.card-trait {
  overflow: hidden;
  background: white;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.137);
	margin-top: 20px;
	border-radius: 11px;
}

.card-trait > img { // --- CHECK HERE FOR THE IMAGE ---
  height: 200px;
  width: 100%;
	object-fit: cover;
	background-color: $green;
}

.card-trait p {
  font-size: 16px;
	margin: 0;
	color: $black;
	font-weight: 700;
}

.card-trait .card-trait-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card-trait-infos-name {
	font-size: 16px;
  font-weight: bold;
}

.card-link {
  color: $black;
}

.card-link:hover {
	color: $pink;
}
