.reservation-card {
  padding: 60px;
  border: 0.4px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 4px 0.1px rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  text-align: center;
  background-color: $offwhite;

  h1 {
    color: $black;
  }
}

.booking-start-date {
  text-align: left;
  color: $gray;
}

.booking-end-date {
  text-align: left;
  color: $gray;
}

.booking-button {
  padding-top: 10px;
}


.booking-cancel {
  padding-top: 20px;
}

.reservation-title {
  padding-bottom: 15px;
  color: $gray;
}


.btn.btn-new-booking{
  background-color: $yellow;
  border-radius: 5px;
  font-size: 18px;
  width: 70%;
  height: 50%;
  font-family: 'Roboto', sans-serif;
  color: $white;
  font-weight: bold;
  box-shadow: 0 0 15px rgba(139, 139, 139, 0.137);
}

.btn.btn-new-booking:hover {
  background-color: $yellow-hover;
}

a {
    text-decoration: none !important;
  }


.cancel-new-reservation {
  color: $gray;
}

.cancel-new-reservation:hover {
  color: $gray;
}

