<body>
	<div id="home-image">
		<svg width="100%" height="100%" viewBox="0 0 1440 890" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M0 888.908H77.5699L58.7306 875.009C41.1193 862.017 19.6769 858.197 0 862.673V888.908Z" fill="#363334" fill-opacity="0.87"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M158.665 768.631C126.307 744.759 81.0159 751.852 57.5048 784.473C33.9938 817.094 41.1657 862.891 73.5239 886.762L76.4317 888.908H321.701L158.665 768.631Z" fill="#F9B9D3"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M335.741 718.131C303.383 694.259 258.092 701.352 234.581 733.973C211.07 766.594 218.242 812.391 250.6 836.262L321.961 888.908H567.23L335.741 718.131Z" fill="#5C9468"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M372.134 563.991C339.776 540.119 294.485 547.212 270.974 579.833C247.463 612.454 254.635 658.25 286.993 682.122L567.292 888.908H812.561L372.134 563.991Z" fill="#363334"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M674.998 788.131C642.64 764.259 597.349 771.352 573.838 803.973C555.046 830.047 555.856 864.537 573.461 889.522H812.434L674.998 788.131Z" fill="#FFFCFB"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M433.998 429.131C401.64 405.259 356.349 412.352 332.838 444.973C309.327 477.594 316.499 523.391 348.857 547.262L813.194 889.818H1058.46L433.998 429.131Z" fill="#FC8C5D"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M735.766 651.391C703.407 627.519 658.116 634.612 634.605 667.233C611.094 699.854 618.266 745.651 650.625 769.522L812.452 888.908H1057.72L735.766 651.391Z" fill="#FBCC49"/>
			<rect width="251.974" height="145.616" rx="72.808" transform="matrix(0.804714 0.593662 -0.584696 0.811253 352.406 368.576)" fill="#FFFCFB"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M1004.35 668.906C971.992 645.035 926.701 652.128 903.19 684.749C879.679 717.37 886.851 763.166 919.209 787.038L1057.29 888.908H1282.54C1277.72 876.01 1269.25 864.329 1257.4 855.588L1004.35 668.906Z" fill="#FBCC49"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M1232.16 836.726C1199.81 812.854 1154.52 819.947 1131 852.568C1123.04 863.623 1118.59 876.192 1117.46 888.908H1302.9L1232.16 836.726Z" fill="#FC8C5D"/>
			<rect width="146.527" height="145.616" rx="72.808" transform="matrix(0.804714 0.593662 -0.584696 0.811253 174.611 237.411)" fill="#FC8C5D"/>
			<rect width="510.872" height="145.616" rx="72.808" transform="matrix(0.804714 0.593662 -0.584696 0.811253 648.442 406.096)" fill="#FC8C5D"/>
			<rect width="211.113" height="145.616" rx="72.808" transform="matrix(0.804714 0.593662 -0.584696 0.811253 621.306 386.077)" fill="#FFFCFB"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M719.037 368.044C742.548 335.423 787.839 328.33 820.197 352.202L1440 809.449V889H1302.56L735.055 470.333C702.698 446.461 695.526 400.665 719.037 368.044Z" fill="#FC8C5D"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M955.571 542.543C979.082 509.922 1024.37 502.829 1056.73 526.7L1440 809.449V888.908H1302.44L971.59 644.832C939.232 620.96 932.06 575.164 955.571 542.543Z" fill="#FBCC49"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M1440 629.179L1244.74 485.131C1212.38 461.259 1167.09 468.352 1143.58 500.973C1120.07 533.594 1127.24 579.391 1159.6 603.262L1440 810.122V629.179Z" fill="#363334"/>
			<rect width="145.62" height="145.616" rx="72.808" transform="matrix(0.804714 0.593662 -0.584696 0.811253 995.038 300.901)" fill="#363334"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M997.612 121.85C965.254 97.9781 919.963 105.071 896.452 137.692C872.941 170.313 880.113 216.109 912.471 239.981L1378.88 584.064C1397.21 597.585 1419.68 601.172 1440 595.814V448.213L997.612 121.85Z" fill="#5C9468"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M1440 448.47C1408.07 428.428 1365.84 436.32 1343.41 467.43C1319.9 500.051 1327.08 545.848 1359.43 569.719L1440 629.155V448.47Z" fill="#FFFCFB"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M1260.97 135.643C1228.61 111.772 1183.32 118.865 1159.81 151.486C1136.3 184.107 1143.47 229.903 1175.83 253.775L1440 448.66V267.718L1260.97 135.643Z" fill="#F9B9D3"/>
			<rect width="201.13" height="145.616" rx="72.808" transform="matrix(0.804714 0.593662 -0.584696 0.811253 1180.24 76.0857)" fill="#FFFCFB"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M1341.74 14.1309C1309.38 -9.74067 1264.09 -2.64782 1240.58 29.9732C1217.07 62.5943 1224.24 108.391 1256.6 132.262L1440 267.562V86.6196L1341.74 14.1309Z" fill="#FBCC49"/>
		</svg>
	</div>

	<h1 id="title">Quurks</h1>
	<h2><%= link_to "Check all the traits here!",  traits_path%></h2>

</body>
