.traits-image img {
  height: 411px;
  width: 615px;
  object-fit: cover;
  border-radius: 15px;
  margin-left: 15px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.container-image {
  height: 400px;
  width: 650px;
  padding-top: 50px;
}

.flex-container-trait {
  display: flex;
  justify-content: space-between;
}

.container-trait-description {
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 24px;
  }
}

.book-trait {
  background-color: #F9CF59;
  width: 308px;
  height: 55px;

  a {
    color: white !important;
  }
}

.book-trait-button {
  text-align: right;
}

.container {
  padding-top: 29px;

  h1 {
    font-family: $title-font;
    font-size: 40px;
    font-weight: bold;

    span {
      color: #81AA8A;
      font-size: 20px;
      font-weight: bold;
      font-family: Raleway;
    }
  }
}

.container-fluid {
  padding-top: 42px;
  padding-bottom: 65px;

  h2 {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  }
}

