.user_reservations_btn p{
  text-decoration: none;
  text-align: center;
  padding-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.user_reservations_btn p a{
  text-decoration:none;
  color: white;

}
