.user{
  position:relative;
  top:10px;
  width:1100px;
  height:520px;
  margin:0 auto;
  border: 0.4px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 4px 0.1px rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  overflow:hidden;
}

.user_info{
  width:400px;
  margin-left:90px;
  margin-top:30px;

  p{
    font-size:24px;
    font-weight:400;
    font-family:Roboto;
  }
}

h1{
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.info{
  border:1px solid #FBCC49;
  width:300px;
  text-align:center;
  font-size:24px;
  margin-top:-15px;
  border-radius:5px;
  color:#1C0C1B;
  background: #F2F2F2;
}

.yellow_btn{
  position: absolute;
  width: 150px;
  height: 49px;
  left: 470px;
  top: 440px;
  background: #F9CF59;
  mix-blend-mode: normal;
  border-radius: 5px;
}
.yellow_btn p{
  text-decoration: none;
  text-align: center;
  padding-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  letter-spacing:1.2px;
}

.yellow_btn p a{
  text-decoration:none;
  color: white;
}

.pink_btn{
  position:absolute;
  border: 2px solid #F9B9D3;
  width: 150px;
  height: 49px;
  top:370px;
  left:150px;
  border-radius: 5px;
}

.pink_btn p{
  text-decoration: none;
  text-align: center;
  padding-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  letter-spacing:1.2px;
}

.pink_btn p a{
  text-decoration:none;
  color: #F9B9D3;
}

.rec_yellow{
  position: absolute;
  width: 493.73px;
  height: 140.62px;
  left: 879.47px;
  top: 113.41px;
  background:#FBCC49;
  mix-blend-mode: normal;
  border-radius: 150px;
  transform: matrix(0.81, 0.6, -0.58, 0.81, 0, 0);
}

.rec_pink{
  position: absolute;
  width: 493.73px;
  height: 140.62px;
  left: 779.47px;
  top: 212.41px;
  background: #F9B9D3;
  mix-blend-mode: normal;
  border-radius: 150px;
  transform: matrix(0.81, 0.6, -0.58, 0.81, 0, 0);
}

.rec_green{
  position: absolute;
  width: 899.73px;
  height: 140.62px;
  left: 503.47px;
  top: 330.41px;
  background: #5C9468;
  mix-blend-mode: normal;
  border-radius: 150px;
  transform: matrix(0.81, 0.6, -0.58, 0.81, 0, 0);
}

.circle_black{
  position: absolute;
  width: 140.62px;
  height: 140.62px;
  left: 564.16px;
  top: 269.99px;
  background: #363334;
  mix-blend-mode: normal;
  border-radius: 150px;
  transform: matrix(0.81, 0.6, -0.58, 0.81, 0, 0);
}

.rec_black{
  position: absolute;
  width: 385.62px;
  height: 140.62px;
  left: 749.27px;
  top: 496px;
  background: #363334;
  mix-blend-mode: normal;
  border-radius: 150px;
  transform: matrix(0.81, 0.6, -0.58, 0.81, 0, 0);
}
